.banner-sec{
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 77px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.banner-sec::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
    background-color: var(--blue);
}
.banner-content {
    border-radius: 3px;
    background: rgba(42, 52, 123, 0.88);
    max-width: 550px;
    padding: 44px 28px;
}
.banner-content *:not(.btn){
    color: var(--white);
}
.banner-content .btn-wrapper {
    display: flex;
    gap: 10px 15px;
    margin-top: 40px;
}
.banner-content p {
    font-weight: 500;
    line-height: normal;
}
@media only screen and (max-width: 767px) {
    .banner-content .btn-wrapper .btn {
        min-width: 110px;
    }
    .banner-content .btn-wrapper{
        margin-top: 30px;
    }
    .banner-content h1 {
        font-size: 24px;
    }
    .banner-content {
        padding: 25px 20px;
    }
}