.img-with-txt .col-left{
    width: 50%;
}
.img-with-txt .col-left img{
    border-radius: 6px;
    width: 100%;
}
.img-with-txt .col-right{
    width: 48%;
}
.img-with-txt .col-right .btn{
    margin-top: 5px;
}
.img-with-txt .row{
    justify-content: space-between;
    align-items: center;
}
.img-with-txt .col-right li:not(:last-child){
    margin-bottom: 24px;
}
.img-with-txt.right .row{
    flex-direction: row-reverse;
}
@media only screen and (max-width: 991px) {
    .img-with-txt .col-left{
        width: 100%;
    }
    .img-with-txt .col-right{
        width: 100%;
    }
    .img-with-txt .col-right li:not(:last-child) {
        margin-bottom: 14px;
    }
}