.latest-news{
    background-color: var(--light-blue);
}
.latest-news-box .img-wrapper {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 28px;
}
.latest-news-box .img-wrapper img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.8s;
}
.latest-news .col {
    width: 25%;
}
.latest-news-box {
    position: relative;
    height: 100%;
    padding-bottom: 60px;
}
.latest-news-box h4{
    font-weight: 700;
    margin-bottom: 14px;
}
.latest-news-box .desc p {
    font-weight: 300;
}
.latest-news-box .link{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 4.5%; /* 0.72px */
    text-underline-offset: 19%; /* 3.04px */
    text-underline-position: from-font;
    font-weight: 500;
    line-height: normal;
    color: #0273B7;
    font-size: 16px;
    left: 0;
    bottom: 0;
    position: absolute;
}
.latest-news-box .link:hover{
    color: var(--blue);
}
.latest-news-box .desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.latest-news-box:hover .img-wrapper img{
    transform: scale(1.1);
}
@media only screen and (max-width: 991px) {
    .latest-news .col {
        width: 50%;
    }
}
@media only screen and (max-width: 575px) {
    .latest-news .col {
        width: 100%;
    }
    .latest-news-box{
        padding-bottom: 40px;
    }
}