.contact-sec p{
    margin-bottom: 20px;
}
.contact-sec .row{
    justify-content: space-between;
}
.contact-sec .col-left{
    width: 45%;
}
.contact-sec .col-right{
    width: 50%;
}
.contact-sec p a{
    color: var(--dark-gray);
}
.contact-sec p a:hover{
    color: var(--blue);
}
.contact-sec .map {
    margin-top: 65px;
}
.contact-sec .form-box {
    border-radius: 6px;
    background-color: var(--white);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.06);
    padding: 48px 27px;
}
.contact-sec .field-wrp{
    margin-bottom: 30px;
}
.contact-sec textarea{
    height: 180px;
    resize: none;
}
.contact-sec .btn-wrap p {
    margin-bottom: 0;
}
.contact-sec .form-box h3 {
    font-weight: 600;
}
.contact-sec .wpcf7-form-control-wrap{
    line-height: 1;
    display: block;
}
@media only screen and (max-width: 991px) {
    .contact-sec .col-left{
        width: 100%;
    }
    .contact-sec .col-right{
        width:100%;
    }
    .contact-sec .map {
        margin-top: 35px;
    }
}
@media only screen and (max-width: 767px) {
    .contact-sec .form-box{
        padding: 40px 20px;
    }
}