.team-member .col {
    width: 33.33%;
}
.team-member .img-wrapper {
    position: relative;
    padding-top: 109%;
}
.team-member .img-wrapper img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.team-member .title {
    margin-top: 20px;
    font-weight: 500;
    color: var(--black);
}
.team-member .team-box {
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 100%;
}
.team-member .team-back {
    background-color: var(--blue);
    color: var(--white);
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}
.team-member .team-back::-webkit-scrollbar {
    width: 7px;
}   
.team-member .team-back::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 10px;
}
.team-member .team-back *{
    color: var(--white);
}
.team-member .team-back h5 {
    font-weight: 400;
    margin-bottom: 15px;
}
.team-member .team-back p{
    font-size: 12px;
    line-height: normal;
}
.team-box:hover .team-back {
    opacity: 1;
    pointer-events: auto;
}
.team-box:hover .team-front {
    opacity: 0;
}
.team-front, .team-back {
    backface-visibility: hidden;
    transition: opacity 0.3s ease;
    min-height: 100%; /* make sure height is consistent */
}
.team-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.team-box:hover .team-inner {
    transform: rotateY(180deg);
}
.team-member .section-header {
    margin-bottom: 30px;
}
@media only screen and (max-width: 1199px) {
    .team-member .title{
        font-size: 18px;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .team-member .col {
        width: 50%;
    }
}
@media only screen and (max-width: 575px) {
    .team-member .col {
        width: 100%;
    }
}