.journey-sec .row{
    align-items: center;
    justify-content: space-between;
}
.journey-sec .col-left{
    width: 50%;
}
.journey-sec .col-right{
    width: 46%;
}
.journey-sec .col-right p{
    font-weight: 300;
}
.journey-sec .col-left .row>div{
    padding: 0 10px;
}
.journey-sec .col-left .row .col{
    width: 100%;
}
.journey-sec .col-left .row .col-half{
    width: 50%;
}
.journey-sec .col-left .row{
    row-gap: 20px;
    margin: 0 -10px;
}
.journey-sec .col-left img{
    border-radius: 10px;
}
.journey-sec .col-left .img-wrapper{
    position: relative;
    padding-top: 100%;
}
.journey-sec .col-left .row .col .img-wrapper{
    padding-top: 48.3%;
}
.journey-sec .col-left .img-wrapper img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 991px) {
    .journey-sec .col-left,
    .journey-sec .col-right {
        width: 100%;
        text-align: center;
    }
}

